<h1>Sucursales</h1>
<div class="row">
<div class="col"></div>
<div class="col-6">
    <p style="float:right;"><%= link_to 'Nueva Sucursal', new_branch_path %></p>
    
    <table class="table">
      <thead>  
        <tr>
          <th scope="col">Sucursal</th>
          <th scope="col">Ciudad</th>
          <th></th>
        </tr>
      </thead>
      <% unless @branches.empty? %>
        <% @branches.each do |branch| %>
          <tr>
            <td><%= branch.branch_name %></td>
            <td><%= branch.branch_city %></td>
            <td><%= link_to 'Ver', branch_path(branch) %></td>
            <td><%= link_to 'Editar', edit_branch_path(branch) %></td>
            <td><%= link_to 'Eliminar', branch_path(branch),
              method: :delete,
              data: { confirm: '¿Desea eliminar sucursal?' } %>
              </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3" align="center">Sin Información</td>                
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col"></div>
</div>