<h1> <%= @company %> </h1>
<div class="row">
    <div class="col">
    <table class="table">
        <tr>
        <th class="col">Sucursal</th>
        <th class="col">Ciudad</th>
        <th class="col">Empleados</th>
        <th class="col"></th>
        </tr>
        <% unless @branches.empty? %>
            <% @branches.each_with_index  do |branch,i| %>
            <tr>
                <td><%= branch.branch_name %></td>
                <td><%= branch.branch_city %></td>
                <td><%= @count[i] %></td>
                <td><%= link_to 'Editar', edit_branch_path(branch) %></td>
            </tr>
            <% end %>
        <% else %>
            <tr>
                <td colspan="4" align="center">Sin Información</td>                
            </tr>
        <% end %>
    </table>
    </div>
    <div class="col" style="width: 100%;">
      <%= button_to "Empelados", employees_path, :class => "btn btn-primary nav_button", :method => :get %>
        <br>
        <br>
        <%= button_to "Sucursales", branches_path, :class => "btn btn-primary nav_button", :method => :get %>
    </div>
    <div class="col"></div>
</div>