<h1>Inicio de Sesión</h1>

<div class="row">
<div class="col"></div>
  <div class="col-6">
    <%= form_with scope: :login, local: true do |form| %>
      <p>
        <%= form.label :Correo %><br>
        <%= form.email_field :email, { :class => 'form-control', required: true }%>
      </p>
    
      <p>
        <%= form.label :Contraseña%><br>
        <%= form.password_field :password, { :class => 'form-control', required: true }  %>
      </p>
      
      <p style="float: right;">
        <%= form.submit 'Ingresar' %>

      </p>
      <p>
        <%= link_to '¿No tienes cuenta? Registrate.', new_manager_path() %>
      </p>
    <% end %>
    </div>
  <div class="col"></div>

</div>